<!-- <nav class="nav-bar">
  <ul >
        <li class="nav-list"><a class="active nav-element" href="/">Home</a></li>
        <li class="nav-list"><a class="nav-element" href="#">Classic</a></li>
        <li class="nav-list"><a class="nav-element" href="#">Sports</a></li>
        <li class="nav-list"><a class="nav-element" href="#">SUV</a></li>
        <li class="nav-list"><a class="nav-element" href="#">Trucks</a></li>
        <li class="nav-list"><a class="nav-element" href="#">Used</a></li>
  </ul>
</nav> -->
<nav class="nav-bar">
  <%- nav %>
</nav>