<% if(title) {%>
  <h1><%=title%></h1>
<% } %>

<% if(message) {%>
  <p><%=message%></p>
<% } %>

<% if(clientData.client_type == "Client"){%>
  <h1>Welcome <%=clientData.client_firstname%></h1>
<% } %>
<% if(clientData.client_type == "Employee" || clientData.client_type == "Admin"){%>
  <h2>Welcome <%=clientData.client_firstname%></h2>
  <h3>Inventory Management</h3>
  <p><a href="/inv/">Access Management</a></p>
<% } %>

