<% if(title) {%>
  <h1><%=title%></h1>
<% } %>

<% if(message) {%>
  <p><%=message%></p>
<% } %>

<% if(errors) {%>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
   <%  }) %>
  </ul>
<% } %>

<form action="./login" method="POST">
  <label for="username">Username:</label>
  <input type="email" name="client_email" id="username" required/>
  <label for="password">Password:</label>
  <input type="password" name="client_password" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
  <input type="submit" name="submit" id="submit">
</form>
<p>No account? <a href="./register">Sign-up</a></p>