<% if (title) { %>
  <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<% if (message) { %>
  <p class="notice"><%= message %></p>
<% } %>
<form action="/inv/addClassification" method="post">
  <label for="classificationName">Classification Name</label>
  <input type="text" name="classificationName" id="classificationName">
  <input type="submit" value="Add Classification">
</form>